@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
  }
  .container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
  }
  .leads{
    text-align: center;
    padding-top: 50px;
    color: #424242;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(3,50fr);
    gap: 20px;
  }
  .item img{
    width: 35%;
  }
  .item{
    text-align: center;
    padding: 20px;
  }
  .title{
    font-size: 14px;
    margin-top: 10px;
  }
  button{
    padding: 10px;
    background-color: transparent;
    border: 0.1px solid #c9c9c9;
    border-radius: 3px;
    color: #2d667c;
    margin-top: 30px;
  }
  button:hover{
    background-color: #e0f6ff;
    cursor: pointer;
  }
  .contact{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .contact button{
    background-color: #51889e;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
  }
  .contact button:hover{
    background-color: #2d667c;
    opacity: .9;
  }
