/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  font-family: poppins,sans-serif;
}
:root{
  --blue:#1862CD;
  --myBlack:#333333;
  --black2:#242424;
}

/* header css */
/* header{
  background-image: linear-gradient(to bottom right, rgb(255, 254, 242),rgba(44, 117, 219, 0.25));
  border-bottom: 1px solid rgb(79, 73, 73);
}
header .event{
  width: 100%;
  max-width: 85%;
  margin: 0px auto;
  padding:8px 0px;
  text-align: center;
}
.event p{
  font-weight: 700;
  font-size: 17px;
  color:rgb(0, 0, 0);
}
.event p a{
  margin-left: 7px;
  font-size: 16px;
  font-weight: 600;
  color:#0c51b3;
}
.event p a:hover{
  text-decoration: underline;
  color:#0966e7;
} */


/* header end */

/*navbar css */
.main-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: .01px .01px 5px .01px #cecece;
  position: relative;
}
.navbar ul{
  display: flex;
  align-items: center;
  justify-content: end;
  gap:30px;
  margin-right: 60px;
}
.navbar ul li a{
  text-decoration: none;
  font-weight: 600;
  color: var(--myBlack);
}
.navbar{
  flex-basis: 730px;
}
.main-nav .logo img{ 
  width:40%;
  margin-left: 20px;
  cursor: pointer;
}
.nav__item button{
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--blue);
  border: none;
  color: beige;
}

.nav__item button:hover{
  opacity: 0.9;
  color:beige;
}

.navbar ul li a:hover{
  color: var(--blue);
}
.nav-toggle{
  display: none;
}
.home {
  margin: auto;
  width:100%;
  max-height: 1;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.col{
  flex-basis: 100%;
}
.col img{
  width: 100%;
  margin-block: 60px;
  margin-bottom: -10px;
}
.col h1{
  text-align: center;
  margin-top: 100px;
  font-weight: 600;
  font-size: 50px;
  color: #242424;
  line-height: 55px;
}
.col p{
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.col .intro-p{
  color: var(--blue);
  text-align: center;
  margin-top: 5px;
  font-size: 50px;
  font-weight: 700;
}
.event p a {
  text-decoration: none;
  font-size:16px;
  color: red;
  transition: 0.4s ease-in-out;
}
.event p{
  font-size: 18px;
}
.event{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding-bottom: 100px;
}
.event h2{
  margin-left: 0%;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}
.eventin{
  display: grid;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  grid-template-columns: repeat(3,1fr);
}
.event-content{
  width: 100%;
  border-radius: 8px;
  box-shadow: .01px .01px 5px .01px #cecece;
  overflow: hidden;
  padding-bottom: 40px;
}
.event-content img{
  width: 100%;
  transition: 0.8s;
  height: auto;
}

.event-content:hover img{
  transform: scale(1.05);
  /* z-index: 0; */
}
.event-content .date{
  font-size: 14px;
  color: rgb(85, 85, 85);
  text-align: left;
  margin: 20px;
}
.event-content .detail{
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}
.btn{
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}
.btn span{
  margin: 5px;
  transition: 0.1s;
  overflow: hidden;
  visibility: hidden;
}
.btn:hover span{
  width: 30px;
  visibility: visible;
}
.purpose{
  background-image: linear-gradient(to bottom right, rgb(255, 254, 242),rgba(24, 98, 205, 0.25));
  padding: 3% 10% 5% 10%;
}
.test{
  padding: 3% 10% 5% 10%;
}
.purpose h2{
  text-align: center;
  font-weight: lighter;
  font-size: 1.675rem;
  color: var(--black2);
  flex-wrap: wrap;
}
.test h2{
  text-align: center;
  font-weight: lighter;
  font-size: 1.675rem;
  color: var(--black2);
}
.purpose-container p{
  text-align: center;
  font-weight: 600;
  font-size: 1.575rem;
  margin-top: 10px;
  flex-wrap: wrap;
}
.test-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.test-container img{
  width: 10%;
  height: 15%;
}
.test-name{
  margin-left: 30px;
}
.test-name h4{
  margin-left: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}
.test-name p1{
  margin-left: 20px;
  font-size: 14px;
  flex-wrap: wrap;
  text-align: center;
}
.purpose-content{
  background-color: #f8f8f8;
  padding: 5%;
  margin-top: 30px;
  border-radius: 3px;
  box-shadow: -.01px -.01px 5px .01px #cecece;
  display: flex;
}
.test-content{
  background-color: #f8f8f8;
  padding: 5%;
  margin-top: 30px;
  border-radius: 3px;
  box-shadow: -.01px -.01px 5px .01px #cecece;
}
.qoute{
  margin-top: 10px;
  margin-left: 20px;
}
.purpose-content p{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.275rem;
  text-align: justify;
  font-weight: 400;
  flex-wrap: wrap;
}
.test-content p{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1rem;
  text-align: justify;
  font-weight: 400;
  flex-wrap: wrap;
}

.career{
  /* background-image: linear-gradient(to bottom right, rgb(255, 254, 242),rgba(24, 98, 205, 0.25)); */
  padding: 3% 10% 5% 10%;
  background-color: #f8f8f8;
}
.career h2{
  font-weight: lighter;
  font-size: 1.675rem;
  color: var(--black2);
}
.career-content{
  
  background-image: linear-gradient(to bottom right, rgb(255, 254, 242),rgba(24, 98, 205, 0.25));
  padding: 5%;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
  box-shadow: -.01px -.01px 5px .01px #cecece;
  display: flex;
  align-items: center;
  justify-content: center;
}
.career-content h3{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 1.685rem;
  font-weight: 600;
}
.career-content p{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  font-size: 1.175rem;
  text-align: justify;
  font-weight: 400;
}
.career-content img{
  width: 50%;
}
.learn{
  margin-left: 20px;
  text-decoration: none;
  background-color: var(--blue);
  padding: 5px;
  padding-left: 10px;
  border-radius: 3px;
  color: #fcfcfc;
}
.learn span{
  margin: 5px;
  transition: 0.1s;
  overflow: hidden;
  visibility: visible;
  color: #fcfcfc;
}
.learn:hover span{
  width: 30px;
  visibility: visible;
  margin-left: 10px;
}
.developer{
  background-image: linear-gradient(to bottom right, rgb(255, 254, 242),rgba(42, 60, 85, 0.25));
  padding: 3% 10% 5% 10%;
}
.developer .leads{
  text-align: center;
  font-weight: 600;
}
.developer .dev{
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.developer-content{
  display: flex;
  flex-wrap: wrap;
  transition: 1s;
}
.developer .item{
  flex-basis: 30%;
  background-color: #f8f8f8;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  box-shadow: -.01px -.01px 5px .01px #cecece;
}
.developer .item a{
  font-size: 1.275rem;
  margin: 5px;
}
.developer .item a:hover{
  opacity: .8;
}
footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #011c39;
}
.footer > *{
  flex: 1 100%;
}
.footer-left{
  margin-right: 1.25em;
  margin-bottom: 2em;
}
.footer-left img{
  width: 50%;
}
.footer-left a{
  font-size: 1.675rem;
  margin-right: 15px;
  color: #f0f0f0;
}
.footer-left a:hover{
  opacity: .8;
  font-size: 1.6rem;
}
h2{
  font-weight: 600;
  font-size: 17px;
}
.footer ul{
  list-style: none;
  padding-left: 0;
}
.footer li{
  line-height: 2em;
}
.footer a{
  text-decoration: none;
}
.footer-right{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}
.footer-right > *{
  flex: 1 50%;
  margin-right: 1.25em;
}
.box a{
  color: #999;
}
.footer-bottom{
  text-align: center;
  color: #999;
  padding-top: 50px;
}
.footer-left p{
  padding-right: 20%;
  color: #999;
}
.socials a{
  width: 400px;
  height: 100px;
}
::selection {
  color: rgb(247, 247, 247);
  background: var(--blue);
}
::-moz-selection { /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: var(--blue);
}