@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  :root{
    --blue:#1862CD;
    --myBlack:#333333;
    --black2:#242424;
  }
  html{
    scroll-behavior: smooth;
  }

#about {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%; 
}
#about h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.875rem;
    color: #2c2c2c;
}
#about p {
    text-align: justify;
    margin-bottom: 30px;
    font-size: 16px;
    color: #444444;
    line-height: 1.8;
    flex-wrap: wrap;
  }
  .about-box p {
    text-align: justify;
    color: #666;
    flex-wrap: wrap;
  }
  .about-box h3{
    color: #2c2c2c;
  }

  #overview {
    background-color: #f6f9fc;
}
#overviewin{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
#overviewin h1 {
    text-align: center;
    color: #2c2c2c;
    padding-top: 50px;
    margin-bottom: 50px;
}
.overview-base {
    display: grid;
    grid-template-columns: repeat(3,50fr);
    gap: 20px;
    margin-bottom: 100px;
}
.overview-box {
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: .01px .01px 5px .01px #cecece;
}
.overview-box h2{
    color: #444444;
}
.overview-box a{
    text-decoration: none;
    color: #3f3f3f;
}
.overview-box p{
    color: #3f3f3f;
    flex-wrap: wrap;
}
#origin {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
.origin-base{
    display: grid;
    /* grid-template-columns: repeat(2,50fr); */
    grid-template-columns: 50% 50%;
    gap: 20px;
    padding-bottom: 50px;
    margin-bottom: 100px;
}
.origin-grid{
    display: flex;
}
.origin-grid img{
    width: auto;
    height: 40px;
    margin-right: 10px;
}
.origin-grid img:hover{
    cursor: pointer;
    opacity: .78;
}
.origin-box{
    padding: 30px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: .01px .01px 5px .01px #cecece;
    padding-bottom: 100px;
}
.origin-box h2{
    color: #3f3f3f;
    margin-bottom: 30px;
}
.origin-box p{
    color:#4e4e4e;
    text-align: justify;
}
::selection {
    color: rgb(247, 247, 247);
    background: var(--blue);
  }
  ::-moz-selection { /* Code for Firefox */
    color: rgb(255, 255, 255);
    background: var(--blue);
  }

@media only screen and (min-width:200px) and (max-width:767px){
    
    h1{
        font-size: 1.75rem;
        font-weight: 600;
    }
    p{
        font-size: o.95rem;
    }
    h2{
        font-size: 1.65rem;
        font-weight: 500;
    }
    h3{
        font-size: 1.55rem;
        font-weight: 400;
    }
    #about p{
      text-align: inherit;
    }
    .origin-box p{
        text-align: inherit;
    }
    .overview-base{
        max-width:98%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .overview-box{
        width:100%;
        margin-left: 10px;
        margin-left: 10px;
    }
    .origin-base{
        max-width: 98%;
        display: flex;
        flex-direction: column;
        align-items: center
    }
}
