@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
  }
  /* .container {
    background-image: linear-gradient(rgb(223, 237, 253), rgb(212, 212, 198));
  } */
  .container-main{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
  }

.item img{
    width: 20%;
  }
  .item{
    text-align: center;
    padding: 20px;
  }
  .title{
    font-size: 14px;
  }
  .skill{
    font-size: 14px;
  }
