@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
  }
  /* .container {
    background-image: linear-gradient(rgb(223, 237, 253), rgb(212, 212, 198));
  } */
  body{
    /* padding: 2% 5% 5% 5%; */
    background: url(image_bg_leads.webp) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: scroll;
  }
  :root{
    --blue:#1862CD;
    --myBlack:#333333;
    --black2:#242424;
  }
  .container{
    margin:80px 0 100px;
  }
.item img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .item{
    text-align: center;
    padding: 20px;
  }
  .title{
    font-size: 14px;
  }
  .skill{
    font-size: 14px;
  }
.thought{
   margin-top: 20px;
   margin-bottom: 50px;
}
::selection {
  color: rgb(247, 247, 247);
  background: var(--blue);
}
::-moz-selection { /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: var(--blue);
}